hy/.idea
/__pycache__

./.vscode
/backend/.pytest_cache
/backend/.vscode
/backend/venv/
/backend/db.sqlite3

/backend/api/__pycache__
/backend/api/migrations

/backend/website/__pycache__
/backend/website/templatetags/__pycache__

/backend/UniLab/__pycache__

/backend/test_content
/backend/media/*
!/backend/media/defaults/
/backend/static/bin
/backend/z_random_files



/frontend/node_modules/
/frontend/.env
