.plus-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--unilab-orange);
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s;
}
.plus-btn::before, .plus-btn::after
{
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--unilab-orange);
    transition: all .25s ease-out;
}
.plus-btn::before {transform: rotate(0deg);}
.plus-btn::after {transform: rotate(90deg);}
.plus-btn:hover {background-color: var(--gray-hover);}