.post-container
{
    border-radius: 10px; 
    margin-bottom: 3rem;
    position: relative;
    padding: 2rem 0;
}
.vote-container
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -4rem;
    top: 0;
}
.upvote-btn, .downvote-btn
{
    background-color: unset;
    border: none;
    outline: none;
    font-size: 2rem;
    cursor: pointer;
    transition: .1s;
    border-radius: 10px;
    padding: 0 .5rem;
}
.upvote-btn::before, .downvote-btn::before
{
    content: "\21E7";
}
.upvote-btn:hover
{
    color: green;
    background-color: var(--gray-hover);
}
.downvote-btn:hover
{
    color: red;
    background-color: var(--gray-hover);
}
.downvote-btn
{
    transform: rotate(180deg);
}
.Upvoted {
    color: green;
    background-color: var(--gray-hover);
}
.Downvoted {
    color: red;
    background-color: var(--gray-hover);
}
.total-points
{
    text-align: center;
}
.post-details-img
{
    height: 50px;
    object-fit: cover;
    object-position: center center;
    margin-right: 1rem;
}
.post-details
{
    margin-bottom: 2rem;
}
.post-body
{
    margin-bottom: 2rem;
}
.post-image
{
    margin-bottom: 2rem;
}
.post-option
{
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    width: 32%;
}
.post-option:hover
{
    background-color: var(--gray-hover);
}
.post-option-img
{
    height: 25px;
    object-fit: cover;
    object-position: center center;
    margin-right: .5rem;
}
.comment-section-container
{
    display: flex;
    flex-direction: column;
}