.post-form-closed
{
    display: none;
}
.post-form-opened
{
    display: flex;
}
.post-form
{
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 10500;
    background-color: var(--unilab-white);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    padding: 3rem;
}
.file-upload
{
    align-self: flex-start;
    margin-top: 3rem;
}
.post-btns
{
    margin-top: 3rem;
}
.post-title
{
    margin: 0;
}
.post-textfield-wrapper
{
    margin: 3rem 0 0 0;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    resize: vertical;
}
.post-textfield
{
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    
    
    transition: .1s;
    background-color: unset;
    position: relative;
}
.post-textfield-wrapper:focus
{
    border-bottom: 3px solid var(--unilab-orange);
}
.post-textfield:focus .post-textfield-wrapper
{
    border-bottom: 3px solid var(--unilab-orange);
}