.emote-btn
{
    position: absolute;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
    margin: 1rem .5rem;
    z-index: 5;
    right: 0;
    padding: 0;
    font-size: 1.25rem;
    background-color: unset;
}
.emote-btn:hover
{
    transform: scale(1.2);
}
.emote-btn-toggled
{
    transform: scale(1.2);
}
.emote-field
{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 20%;
    z-index: 5;
    width: 40%;
    height: 25rem;
}
.content-wrapper::before
{
    content: ""!important;
}
.emoji-picker-react
{
    height: 100%!important;
    width: 100%!important;
}