.signup-form
{
    align-items: center;
    flex-direction: column;
    width: 40rem;
    background-color: var(--unilab-white);
    overflow-y: auto;
    border-radius: 10px;
    padding: 3rem;
    margin: 3rem auto;
}
.signup-email, .signup-password, .signup-password-confirm, .signup-fname, .signup-lname
{
    background-color: var(--unilab-gray);
    transition: .1s ease-out;
}
.signup-email:focus, .signup-password:focus, .signup-password-confirm:focus, .signup-fname:focus, .signup-lname:focus
{
    border-bottom: 3px solid var(--unilab-orange);
}
.signin-buttons
{
    display: flex;
    justify-content: space-between;
}
.sign-up
{
    margin: 0 0 3rem 0;
    text-align: center;
}
.forgot-pass
{
    margin-top: 3rem;
}
.signup-btn
{
    margin-top: 3rem;
}
.signup-agreements
{
    margin-top:10%; 
    padding: 0 5%;
}