@media only screen and (min-width: 1030px)
{
    .profile-menu
    {
        width: 25vw;
    }
    .profile-close-button
    {
        height: 3vh;
        width: 3vh;
    }
    .profile-menu-closed
    {
        right: -25vw;
        padding-top: 0rem;
    }
    .profile-menu-opened
    {
        right: 0;
        padding-top: 3rem;
    }
}
@media only screen and (max-width: 1030px)
{
    .profile-menu
    {
        width: 100vw;
        left: 100vw;
    }
    .profile-close-button
    {
        height: 5vw;
        width: 5vw;
    }
    .profile-menu-closed
    {
        left: 100vw;
    }
    .profile-menu-opened
    {
        left: 0;
    }
}
.profile-menu
{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 9501;
    height: 100vh;
    top: 0;
    background-color: var(--unilab-white);
    transition: all .4s linear;
}
.profile-picture
{
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom: 2rem;
}
.settings-picture, .logout-picture, .prof-picture, .login-picture
{
    height: 3vh;
    width: 3vh;
    margin: 0 3%;
    background-size: cover;
    background-position: center center;
}
.prof-picture {background-image: url('../../Assets/img/profile.png');}
.settings-picture {background-image: url('../../Assets/img/settings2.png');}
.logout-picture {background-image: url('../../Assets/img/logout2.png');}
.login-picture 
{
    background-image: url('../../Assets/img/logout2.png');
    transform: rotate(180deg);
}
.settings-button
{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3% 5%;
    background-color: rgba(0,0,0,0);
    color: var(--unilab-orange);
    transition: .1s;
    width: 100%;
    outline: none;
    border: none;
}
.settings-button:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}
.settings-button h3
{
    text-align: start;
}
.profile-close-button
{
    right: unset !important;
    left: 2% !important;
}
.profile-names
{
    font-size: 1.25em; 
    text-align:center; 
    width:80%;
    font-weight:bold;
    margin-bottom: 2rem;
}
.profile-menu-btn-holder
{
    font-weight: bold;
}
.verbose
{
    margin-bottom: 2rem;
}