@media only screen and (min-width: 1030px)
{
    .profile-menu
    {
        width: 25vw;
        
    }
    .profile-close-button
    {
        height: 3vh;
        width: 3vh;
    }
    .profile-menu-closed
    {
        right: -25vw;
    }
    .profile-menu-opened
    {
        right: 0;
    }
}
@media only screen and (max-width: 1030px)
{
    .profile-menu
    {
        width: 100vw;
        left: 100vw;
    }
    .profile-close-button
    {
        height: 5vw;
        width: 5vw;
    }
    .profile-menu-closed
    {
        left: 100vw;
    }
    .profile-menu-opened
    {
        left: 0;
    }
}
.profile-menu
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9501;
    height: 100vh;
    top: 0;
    background-color: var(--unilab-white);
    transition: .5s;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.profile-picture
{
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    object-fit:cover;
}
.settings-picture, .logout-picture, .prof-picture
{
    height: 3vh;
    width: 3vh;
    margin: 0 5%;
    background-size: 100% 100%;
}
.prof-picture {background-image: url('../../Assets/img/profile.png');}
.settings-picture {background-image: url('../../Assets/img/settings2.png');}
.logout-picture {background-image: url('../../Assets/img/logout2.png');}
.settings-button
{
    display: flex;
    align-items: center;
    padding: 0 5%;
    width: 65%;
    background-color: rgba(0,0,0,0);
    color: var(--unilab-orange);
    border-bottom: 1px solid var(--unilab-orange);
}
.settings-button:hover
{
    background-color: var(--unilab-orange);
    color: var(--unilab-white);
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}
.settings-button:hover .prof-picture {background-image: url('../../Assets/img/profile-white.png');}
.settings-button:hover .settings-picture {background-image: url('../../Assets/img/settings.png');}
.settings-button:hover .logout-picture {background-image: url('../../Assets/img/logout.png');}
.profile-close-button
{
    right: unset !important;
    left: 2% !important;
}
.profile-names
{
    font-size: 1.25em; 
    text-align:center; 
    width:80%;
    font-weight:bold;
}