@media only screen and (min-width: 1030px)
{
    .top-nav-image, #search-text, #profile-text {display: none;}
    .top-nav
    {
        height: 10vh;
        justify-content: space-evenly;
    }
    #logo-img, #search-img, #profile-img, #lang-img
    {
        display: flex;
    }
    #logo-img:hover, #search-img:hover, #profile-img:hover, #lang-img:hover
    {
        opacity: .5;
    }
    #search-img, #profile-img, #lang-img
    {
        height: 5vh;
        width: 5vh;
    }
    #profile-img
    {
        border-radius: 50%;
        object-fit: cover;
    }
    #lang-img
    {
        object-fit: cover;
        object-position: center center;
        border-radius: 50%;
    }
    .top-nav-item
    {
        position: relative;
        justify-content: center;
        font-weight: bold;
        height: 50px;
        text-align: center;
        z-index: 9001;
        cursor: pointer;
        padding: 0 2%;
    }
    .top-nav-item:hover .top-nav-item-filler
    {
        width: 100%;
        box-shadow: 
        0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 
        0px 2px 5px 0px rgba(50, 50, 93, 0.1), 
        0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    }
    .top-nav-item:hover .top-nav-item-text
    {
        color: var(--unilab-white);
    }
    .top-nav-container
    {
        display: flex; 
        justify-content: space-evenly; 
        align-items: center;
        width: 70%;
    }
}
@media only screen and (max-width: 1030px)
{
    .top-nav
    {
        height: 10vh;
        justify-content: space-between;
        padding: 0 5%;
    }
    .top-nav-item-text
    {
        justify-content: left;
        font-size: 24px;
    }
    .top-nav-item-text img
    {
        margin: 0 5%;
    }
    .top-nav-image
    {
        height: 5vh;
        width: 5vh;
    }
    .top-nav-item
    {
        width: 55%;
        border-radius: 10px;
        position: relative;
        font-weight: bold;
        text-align: center;
        z-index: 9001;
        cursor: pointer;
        padding: 2% 5%;
        border-top: 1px solid rgba(230, 135, 41,0);
        border-left: 1px solid rgba(230, 135, 41,0);
        border-right: 1px solid rgba(230, 135, 41,0);
        border-bottom: 1px solid var(--unilab-orange);
    }
    .top-nav-item:active
    {
        border: 1px solid var(--unilab-orange);
    }
    .top-nav-container
    {
        display: flex; 
        justify-content: space-evenly;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        top: 10vh;
        position: fixed;
        background-color: var(--unilab-white);
        padding: 0 5%;
        align-items: center;
        transition: .5s;
    }
    .container-closed
    {
        left: 100vw;
    }
    .container-opened
    {
        left: 0;
    }
    .top-nav-search
    {
        order: -1;
    }
}
@media only screen and (max-width: 800px)
{
    .top-nav-item-text
    {
        font-size: 16px;
    }
}
#logo-link
{
    height: 7vh;
    width: unset !important;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border-bottom: none;
}
#logo-img
{
    height: 100%;
    width: 100%;
}
.top-nav-item-filler, .top-nav-item-text, .top-nav-logo, .top-nav-search, .top-nav-profile
{
    display: flex;
    align-items: center;
}
.top-nav
{
    transition: .5s;
    width: 100%;
    background-color: var(--unilab-white);
    top: 0;
    position: sticky;
    z-index: 9000;
}
.top-nav-item-filler
{
    position: absolute;
    left: 0;
    width: 0;
    height: 50px;
    background-color: var(--unilab-orange);
    z-index: 9002;
    border-radius: 10px;
    transition: .5s;
}
.top-nav-item-text, .top-nav-image
{
    z-index: 9003;
    transition: .5s;
    color: black;
}
.top-nav-profile, .top-nav-search
{
    transition: .5s;
}
#profile-img, #lang-img
{
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
.top-nav-logo
{
    transition: .5s;
}
.top-nav-logo:hover
{
    opacity: .5;
}
.top-nav-profile:hover, .top-nav-search:hover
{
    opacity: .5;
}
.active-item {color: var(--unilab-orange);}