.home-cover
{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url('../../Assets/img/vienna.jpg');
    background-size: cover;
    overflow: hidden;
}
.home-cover-svg
{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 4;
}
.home-cover-polygon
{
    fill: white;
    transition: 1s;
}
.home-cover-message
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
    height: 100%;
    text-align: center;
    padding: 0 4rem;
    position: relative;
    bottom: -100%;
    transition: 1s;
}
.home-cover h1, .home-cover h2, .home-cover h3, .home-cover h4, .home-cover .uni-button
{
    margin: 2rem 0;
}
.welcome-msg
{
    font-size: 3rem;
}