.input-container
{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}
.input-field
{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem 0 1rem 0;
}
.input-field label
{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: block;
    transition: .5s;
    color: gray;
    width: 100%;
    padding: 1rem;
    margin: 0 0 .5rem 0;
    z-index: 4;
}
.input-field input
{
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    margin: 0 0 .5rem 0;
    border-radius: 10px;
}
.input-field .bottom-line
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: var(--unilab-gray);
    width: 100%;
    height: 2px;
    border-radius: 10px;
}
.input-field .bottom-line::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: var(--unilab-orange);
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
}
.input-field input:focus ~ .bottom-line:before,
.input-field input:valid ~ .bottom-line:before
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.input-field input:focus + label,
.input-field input:valid + label
{
    transform: translateY(-35px);
    font-size: 0.95rem;
    color: black;
}
.input-field input:focus,
.input-field input:valid
{
    background-color: none;
}
.error-message
{
    width: 100%;
    padding: 0 1rem;
    color:red;
    opacity: 0;
}
.input-field i 
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.input-field i::before
{
    content: "";
    height: 2px;
    width: 20px;
    background-color: black;
    position: absolute;
    transform: rotate(135deg);
    transition: .1s;
}
.input-field i:hover::before
{
    opacity: 1;
}
.opaque::before{opacity: 1;}
.transparent::before{opacity: 0;}

.red-line
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
    background-color: red !important;
}