.main-home
{
    display: flex;
    align-items: flex-start;
}
.main-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 3%;
}
.main-menu
{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 3% 0;
    position: fixed;
    right: 0;
}
.profile-header
{
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;
    padding: 0 !important;
}
.profile-banner
{
    width: 100%;
    background-image: url('../img/vienna.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    padding: 5%;
}
.edit-image
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 1%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 1%;
    top: 2%;
    cursor: pointer;
}
.edit-image:hover
{
    background-color: rgba(0, 0, 0, .1);
}
.profile-content
{
    position: relative;
    justify-content: space-evenly;
    margin-bottom: 5%;
    width: 100%;
}
.profile-basic-info h3
{
    font-size: 1.25em;
}
.profile-basic-info
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
}
/* .profile-basic-info > *
{
    margin-left: 2%;
    margin-right: 2%;
} */
.pfp
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: var(--unilab-white);
    padding: .5%;
}
.bio
{
    border-radius: 10px;
    padding: 0;
}
.menu-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    position: relative;
    cursor: pointer;
}
.menu-item:hover .item-rect
{
    background: var(--unilab-orange);
    width: 70%;
}
.menu-item:hover .item-text
{
    color: var(--unilab-white);
}
.item-text
{
    z-index: 5;
    transition: .6s;
}
.item-rect
{
    background: gray;
    height: 50px;
    width: 10px;
    border-radius: 10px;
    margin-left: 5%;
    position: absolute;
    right: 15%;
    transition: .5s;
}
.active-rect
{
    background: var(--unilab-orange);
}
.section
{
    display: none;
}
.active-section
{
    display: flex;
}
.education-item
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2% 0;
    width: 100%;
}
.education-text
{
    width: 70%;
}
.education-image
{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.post-field
{
    position: relative;
    width: 50vw;
    z-index: 9501;
    background-color: var(--unilab-white);
}
.post-field input, .post-field .input
{
    background-color: var(--unilab-gray);
    padding: 2%;
    margin: 3% 0;
}
.double-input-wrap > *
{
    width: 48%;
}