{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}

{% block meta_and_title %}

<title>{{ user.email }} - UniLab</title>
<meta name="description" content=""/>

{% endblock meta_and_title %}


{% block head_css %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/collapsible.css' %}" />

{% endblock head_css %}

{% block smoke_screens2 %}

<div class="smoke-screen-skill sm-screen j-c-c a-i-c">
    <div class="frame-container" style="height: 80vh;">
        <img class="frame-img hidden" src="" height="100%" style="border-radius: 10px;background-color:var(--unilab-white);">
    </div>
</div>

{% endblock smoke_screens2 %}

{% block main_content %}

    <main class="main-home">
        <div class="main-content">

            <!-- BASIC INFO SECTION -->
            <div class="profile-header gui-element section active-section">
                <div class="profile-banner">
                    <img class="pfp" src="{{ company.image }}" />
                </div>
            
                <div class="profile-basic-info">
                    <h2 class="w90">
                        {{ company.name }}

                    </h2>
                    <span class="noselect" style="font-size: 1.5em;color:var(--unilab-orange);">
                        {% if company.rating is None %}
                        &#9734; &#9734; &#9734; &#9734; &#9734;
                        {% else %}
                            {% for i in company.rating %}
                            &#9734;
                            {% endfor %}
                        {% endif %}
                    </span>

                    <p style="color:rgb(97, 97, 97);">
                        {{ company.employee_range_verbose }}
                        &#183;
                        {{ company.industry_verbose }}
                    </p>

                    <p style="color:rgb(97, 97, 97);">

                        {% if company.video_url %}
                            <a class="basic-info-website" style="color:blue;" href="{{ company.video_url|append_http }}">Video</a>
                        {% endif %}
                        &#183;
                        {% if company.website_url %}
                            <a class="basic-info-website" style="color:blue;" href="{{ company.website_url|append_http }}">Website</a>
                        {% endif %}

                    </p>

                    <div class="bio">
                        <h3>{% translate "Description" %}</h3>
                        {% if company.description|length == 0 %}
                            <h3 class="normal">Your company has no description yet...</h3>
                        {% else %}
                            <p style="line-height: 1.5em;">
                                {{ company.description }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- PICTURES SECTION -->
            <div class="profile-content gui-element section">
                <div class="flex-row j-c-s-b a-i-c w95">
                    <h1 class="normal">{% translate "Pictures" %}</h1>
                </div>
                {% if pictures|length == 0 %}
                    <h3 class="normal">{% translate "This company has no pictures yet" %}</h3>
                {% else %}
                <div class="w100" style="display: inline-block;text-align:center;overflow:hidden;">
                    {% for picture in pictures %}
                    <img class="shadow" src="{{ picture.image }}" height="250"
                    style="object-fit:contain;margin:1rem;border-radius:10px;cursor:pointer;"
                    onclick="display_in_frame(this)">
                    <!-- <h5>{{ picture.description }}</h5>
                    <h5>{{ picture.location }}</h5>
                    <button class="uni-button" onclick="object_delete('{{ picture.url }}')">Delete Image</button> -->
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- JOB POSTINGS SECTION -->
            <div class="profile-content gui-element section">
                <div class="flex-row j-c-s-b a-i-c w95">
                    <h1 class="normal">{% translate 'Job Postings' %}</h1>
                </div>
                {% if jobs|length == 0 %}
                    <h3 class="normal">{% translate "This company has no job postings yet" %}</h3>
                {% else %}
                    {% for job in jobs %}


                    <a href="{% url 'jobs' %}?url={{ job.url }}" class="company-block flex-row j-c-s-b a-i-c w100">
                        <div class="flex-row a-i-c">
                            <img class="shadow" src="{{ company.image }}" alt="" height="75" width="75" 
                            style="margin-right: 2rem;border-radius:10px;object-fit:cover;">
                            <div>
                                <h2 class="normal" style="margin: 0;">{{ job.title }}</h2>
                                <div>{{ job.city }} &#183; {{ job.country }}</div>
                            </div>
                        </div>
                    </a>

                    {% endfor %}
                {% endif %}
            </div>

            <!-- EMPLOYEE SECTION -->
            <div class="profile-content gui-element section">
                <div class="flex-row j-c-s-b a-i-c w95">
                    <h1 class="normal">{% translate 'Employees' %}</h1>
                </div>
                {% if employees|length == 0 %}
                    <h3 class="normal">{% translate "This company has no registered employees yet" %}</h3>
                {% else %}
                    <h3>WIP</h3>
                {% endif %}

            </div>

            <!-- POSTS SECTION -->
            <div class="profile-content gui-element section">
                <div class="flex-row j-c-s-b a-i-c w95">
                    <h1 class="normal">{% translate "Posts" %}</h1>
                </div>
                {% if posts|length == 0 %}
                    <h3 class="normal">{% translate "This company has no posts yet"%}</h3>
                {% else %}
                    {% for post in posts %}
                        <div class="education-item shadow" id="http://127.0.0.1:8000/api/posts/8/"
                                style="padding:1% 3%; background-color: var(--unilab-white);border-radius: 10px; margin-bottom: 2%; justify-content: space-between;">

                            <img class="education-image"
                                    {% if post.image %}
                                        src="{{ post.image }}"
                                        style="height: 100px; width: 100px;object-fit:cover;"
                                    {% else %}
                                        style="height: 100px; width: 100px;opacity:0; display:none;"
                                    {% endif %}/>

                            <div class="education-text" style="display: inline;">
                                <p style="height:100px;overflow:hidden;display:inline;">
                                    {{ post.content|make_list|slice:':250'|join:'' }}
                                </p>
                                <a href="{% url 'single-post'%}?url={{ post.url }}" style="color: var(--unilab-orange);">{% translate "See post" %}</a>
                            </div>


                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <!-- COMMENTS SECTION -->
            <div class="profile-content gui-element section">
                <div class="flex-row j-c-s-b a-i-c w95">
                    <h1 class="normal">{% translate "Comments" %}</h1>
                </div>
                {% if comments|length == 0 %}
                    <h3 class="normal">{% translate "This company has not commented on anything yet" %}</h3>
                {% else %}
                    {% for comment in comments %}
                        <div class="education-item shadow"
                                style="padding:1% 3%; background-color: var(--unilab-white);border-radius: 10px; margin-bottom: 2%; justify-content: space-between;">

                            <div class="education-text" style="display: inline;">
                                <p style="height:100px;overflow:hidden;display:inline;">
                                    {{ comment.content|make_list|slice:':250'|join:'' }}
                                </p>
                                <a href="{% url 'single-post'%}?url={{ comment.post }}" style="color: var(--unilab-orange);">{% translate "See comment" %}</a>
                            </div>


                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>

        <!-- SIDE MENU -->
        <div class="main-menu noselect">
            <div class="menu-item" onclick="change_section(0)">
                <div class="item-text">{% translate "Basic Information" %}</div>
                <div class="item-rect active-rect"></div>
            </div>
            <div class="menu-item" onclick="change_section(1)">
                <div class="item-text">{% translate "Pictures" %}</div>
                <div class="item-rect"></div>
            </div>
            <div class="menu-item" onclick="change_section(2)">
                <div class="item-text">{% translate "Job Postings" %}</div>
                <div class="item-rect"></div>
            </div>
            <div class="menu-item" onclick="change_section(3)">
                <div class="item-text">{% translate "Employees" %}</div>
                <div class="item-rect"></div>
            </div>
            <div class="menu-item" onclick="change_section(4)">
                <div class="item-text">{% translate "Posts" %}</div>
                <div class="item-rect"></div>
            </div>
            <div class="menu-item" onclick="change_section(5)">
                <div class="item-text">{% translate "Comments" %}</div>
                <div class="item-rect"></div>
            </div>
        </div>


    </main>

{% endblock main_content %}


{% block footer %}<div class="hidden"></div>{% endblock footer %}


{% block body_js %}

    <script language="javascript" type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/company_profile.js' %}"></script>
    <script>
        if (width > 1290) {
            window.onscroll = function () {
                scrollFunction2()
            };
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
    <script>
        function object_delete(url) {
            fetch("{{ request.build_absolute_uri }}", {
                method: 'DELETE',
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": Cookies.get('csrftoken')
                },
                body: JSON.stringify({
                    url: url,
                })
            }).then(function (response) {
                // The API call was successful!
                console.log(response)
                location.reload()
            })
        }

    </script>

{% endblock body_js %}